.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid $green;
    padding: 8px 45px 9px;
    font-size: 14px;
    line-height: 18px;
    height: 37px;
    border-radius: 2px;
    transition: all 0.15s ease-in-out;
    background-color: transparent;
    color: $text;
    text-decoration: none;

    &:hover {
        background-color: $green;
        color: #ffffff;
    }
}

.btn-danger {
    border: 1px solid $red;
    &:hover {
        background-color: $red;
    }
}

.btn-info {
    border: 1px solid $blue;
    &:hover {
        background-color: $blue;
    }
}