body {
    color: $text;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: textfield;
}

a, img, input, button, textarea {
    &:focus {
        outline: none;
    }
}


ul {
    list-style: none;
    padding: 0;
}




