.i-close {
  display: block;
  width: 10px;
  height: 10px;
  position: relative;

  &:before,
  &:after {
    content: "";
    display: block;
    height: 17px;
    width: 1px;
    position: absolute;
    left: 5px;
    top: -3px;
    transform: rotate(45deg);
    background-color: $red;
  }
  &:after {
    transform: rotate(-45deg);
  }
}
.i-edit {
  background-image: url('../img/svg-icons/edit.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.i-remove {
  background-image: url('../img/svg-icons/remove.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
